  
.intro{
    position: relative;
    
    // margin-left:10%;
    // color: rgb(15, 169, 169);
    // font-size:70px;
    // font-family:"ＭＳ 明朝";
    // text-align:left;
&__article{
    
    width:75%;
    color:azure;
    font-size:25px;
    font-family:"ＭＳ 明朝";
    padding:30px;
    font-weight:bold;
    background: #2C5C85;
    border-radius:30px;


        position:absolute;
        margin:30px;
        padding:10px;
   
}

}
