.mainContents {
  position: relative;
  font-family:"sans-serif";
  max-width:80%;
  min-height:20%;
  background:#2c6e49;
  left:11%;
  margin-bottom:90px;
  border-radius:30px;

  &__title {
    padding-top:4.5%;
    padding-left:3%;
    font-size:2em;
    font-weight: bold;
    color:#fefee3;
  }

  &__text {
    display:inline-block;
    position:relative;
    padding:2% 3% 6% 3%;
    font-size:1.7em;
    color:#fefee3;
    border-radius:30px;
  }

  &__img {
    float:right;
  }
  
  &__imgContents{
    border-radius:30px;
  }
}