.mainQaboard{
    padding-left:10%;
   
    &__qaBoardTextbox{
        position:relative;
        }
        input[type="text"]{
            position:relative;
            width: 700px;;
            height:200px;
            padding:10px;
            border: 1px solid #cad2c5;
            box-sizing: border-box;
            border-radius:30px;
            background-color:#cad2c5;
        }
        &__questionsTitle{
           
            padding:10px;
            width:80%;
            position: relative;
            font-size:40px;
            text-align:center;
            top:55px;
            color: #2c6e49;
            background-color:#fefee3;
        }
        &__questions{
            
            padding:10px;
            width:80%;
            position: relative;
            font-size:40px;
            text-align:center;
            color: #2c6e49;
            background-color:#fefee3;
        }
        &__mainQaboard__send{
            color:red;
            //mt-6 text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded py-4 px-12
        }
 
}