  
.intro{
    position:absolute;
    top:30%;
    left:14%;
   
    font-size:70px;
    font-family:"ＭＳ 明朝";
    text-align:left;
    
    //#4c956c

    &__article{
        position:relative;
        width:75%;
        color:#fefee3;
        font-size:25px;
        font-family:"ＭＳ 明朝";
        padding:30px;
        line-height:30px;
        background-color:#2c6e49;
        border-radius:30px;
    }

}
