    
.pageTitle{
position: absolute;
top: 10%;
left: 50%;
width: 100%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);

padding-left:50px;
color:azure;
font-size:70px;
font-family:"ＭＳ 明朝";
text-align:left;
}
