// <div class="postAndSearch">
// <div class="postAndSearch__texts">
//     <input type= "text" name="postQ" size="20" value class="postQuestion" placeholder="質問を入力してください">
//     <button type="submit">送信</button>
//     <input type= "text" size="20" name="searchQ" value class="searchQuestion" placeholder="過去の質問を検索します">
//     <button type= "submit">検索</button>
// </div>
// </div>

.qaBoardTextbox{
    
    position:absolute;
    
    top:20%;
 
    background-size:10%;
  
    padding:10%;
  
    input[type="text"]{
        position:relative;
        display: inline-block;
        width: 700px;;
        height:200px;
       padding:10%;
       border: 1px solid #999;
       box-sizing: border-box;
       
        border-radius:30px;
        background-color:azure;
   
    }
   
    
}